img {
    height: 80px;
    width: 80px;
}


.enemies {
    clear: both;
}

.attack {
    clear: both;
}

.defender {
    clear: both;
}

body {
    background-image: url("http://i.imgur.com/PHz9z6f.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 50px;
}

p {
    margin: 0;
}

h1 {
    text-align: center;
}

h5 {
    color: black;
    background-color: white;
}

.defend {
    color: red;
} 

.enemy {
    color: yellow;
}

.char {
    color: gold;
}