img {
    height: 80px;
    width: 80px;
}


body {
    background-image: url("http://i.imgur.com/PHz9z6f.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 50px;
}

p {
    margin: 0;
}

h1 {
    text-align: center;
}

h5 {
    color: black;
    background-color: white;
    width: 95%;
    margin-top: 10px;
}

.defend {
    color: darkred;
} 

.enemy {
    color: red;
}

.char {
    color: darkgreen;
}


.progress {
    width: 39%;    
}

.progress-bar {
    width: 100%;
    text-align: center;
}

.char-name {
    background-color: lightcoral;
    color: white;
    width: 38.5%;
    text-align: center;
}

button {
    margin: 10px 0px 10px 100px;
    background-color: black;
    color: red;
}